@font-face {
  font-family: AmsiProCond-Ultra;
  src: url("assets/Fonts/AmsiProCond-Ultra.otf") format("opentype");
}

.battery-log1,
.battery-log2,
.battery-log3,
.battery-log4,
.battery-log5,
.battery-log6,
.battery-log7,
.battery-log8 {
  font-size: 16px;
  font-weight: 900;
}

.bimbo_blue-left {
  max-width: 100%;
  height: 18rem;
  text-align: center;
  background-image: url("assets/img/Materiales_Bimbo-mobile/fondo-sin-texto-gorro-a-la-izquierda.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  color: white;
}

.bimbo_blue-right {
  max-width: 100%;
  height: 18rem;
  text-align: center;
  background-image: url("assets/img/Materiales_Bimbo-mobile/fondo-sin-texto-gorro-a-la-derecha.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  color: white;
}

.bimbo_blue-right1,
.bimbo_blue-left2,
.bimbo_blue-right3,
.bimbo_blue-left4,
.bimbo_blue-right5 {
  max-width: 100%;
  height: 12rem;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  color: white;
}

.bimbo_blue-right1 {
  background-image: url("assets/img/Materiales_Bimbo-mobile/Fondos_cronologia/fondo_cronologia1.png");
}

.bimbo_blue-left2 {
  background-image: url("assets/img/Materiales_Bimbo-mobile/Fondos_cronologia/fondo_cronologia2.png");
}

.bimbo_blue-right3 {
  background-image: url("assets/img/Materiales_Bimbo-mobile/Fondos_cronologia/fondo_cronologia3.png");
}

.bimbo_blue-left4 {
  background-image: url("assets/img/Materiales_Bimbo-mobile/Fondos_cronologia/fondo_cronologia4.png");
}

.bimbo_blue-right5 {
  background-image: url("assets/img/Materiales_Bimbo-mobile/Fondos_cronologia/fondo_cronologia5.png");
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
}

.col1_blue {
  max-width: 90%;
  height: 30%;
}

.col2_blue {
  max-width: 90%;
  min-width: 80%;
  height: 50%;
}

.container_end-bimbo {
  padding-left: 0;
  padding-right: 0;
}

/* .end_message { */
/* max-width: 95%;
  height: 32vh;
  background-image: url("assets/img/Materiales_Bimbo-mobile/fondo-verde-sin-texto.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-size: 1.2rem;
  font-weight: 900;
  color: white;
  margin-bottom: -4rem;
  text-align: center; */
/* } */

.end_message-img {
  width: 100%;
}

.figures {
  background: rgba(255, 255, 255, 0.6);
  width: 80%;
  border-radius: 15px;
  color: #0033a0;
}

.img_bimbo-start {
  width: 80%;
}

.img_equivalence {
  width: 100%;
}

.img_world {
  width: 100%;
}

header {
  width: 100vw;
  background-image: url("assets/img/Materiales_Bimbo-mobile/fondo-inicial-sin-texto.png");
  /* background-image: url("assets/img/Materiales_Bimbo-mobile/imagen-inicio-20-05.png"); */
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-top: 8rem !important;
  background-image: linear-gradient(left bottom, transparent);
}

.italic_subtitle {
  font-style: italic;
}

.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.section1_timeline {
  width: 100vw;
  background-image: url("assets/img/Materiales_Bimbo-mobile/fondo-pan.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 7rem !important;
  background-attachment: fixed;
}

.section1_wrapper-web {
  display: none;
}

.section2_description {
  position: relative;
  z-index: 3;
  width: 100vw;
  height: 120%;
  background-image: url("assets/img/Materiales_Bimbo-mobile/fondo-azul-inicio.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 2rem 1rem 5rem 2rem;
  margin-top: -5rem;
}

/* .section3_end {
  width: 100vw;
  height: 100%;
  margin-top: 4rem;
  z-index: 2;
} */

.section4_web {
  display: none;
}

.start_icon {
  width: 100%;
}

.img-end-bimbo {
  width: 100%;
}

/* .title_chronology {
  max-width: 70%;
  height: 10vh;
  background-image: url("assets/img/Materiales_Bimbo-mobile/fondo-verde-sin-texto.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-size: 1.2rem;
  font-weight: 900;
  color: white;
  margin-bottom: -4rem;
  text-align: center;
} */

.title_chronology-img {
  width: 100%;
}

.title_blue {
  font-size: 1.5rem;
  font-weight: 900;
  color: white;
  display: block;
}

.title_equivalence {
  /* max-width: 95%;
  height: 32vh;
  background-image: url("assets/img/Materiales_Bimbo-mobile/fondo-azul-sin-texto.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-size: 1.2rem;
  font-weight: 900;
  color: white;
  margin-bottom: -4rem;
  text-align: center; */
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.title_text {
  font-family: AmsiProCond-Ultra;
  font-size: 1.4rem;
  /* font-weight: 900; */
  color: #0033a0;
  text-align: center;
  margin-right: 0 !important;
}

@media only screen and (max-width: 449px) {
  .row-linea-tiempo {
    padding: 150px;
    background-color: red;
  }
}

@media only screen and (min-width: 450px) {
  .col1_section1-web {
    width: 50vw;
    background-image: url(assets/img/Materiales_Bimbo-web/fondo-linea-de-tiempo.png);
    background-repeat: no-repeat;
    padding: 0 !important;
    /* background-size: 27%; */
    /* height: 120vh; */
    margin-left: 12%;
    display: flex;
    flex-direction: column;
    /* margin-top: 2rem;*/
  }

  .img_cronologia_hoja {
    width: 70%;
    position: relative;
    top: -7%;
    left: -4%;
  }

  .img_info-cronologia {
    width: 100%;
    height: 9rem;
    background-image: url("assets/img/Materiales_Bimbo-web/fondo-informacion-cronologia.png");
    background-repeat: no-repeat;
    margin-right: 0 !important;
    background-size: 100% 100%;
  }

  .img-linea-tiempo {
    width: 23%;
    margin-left: 17%;
    margin-top: -4rem;
  }

  .info_cronologia-container {
    width: 50vw;
    margin-left: -19rem;
  }

  .row-linea-tiempo {
    padding: 0;
    background-color: blue;
  }

  .cronology_container {
    background-image: url("assets/img/Materiales_Bimbo-mobile/Franja-Blanca-linea-de-tiempo.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  header {
    width: 100vw;
    height: 116vh;
    background-image: url("assets/img/Materiales_Bimbo-web/INICIO-web-21-05.png");
    background-size: 100% 103%;
    margin-left: 0 !important;
    margin-right: 0 !important;
    /* padding-bottom: 2rem; */
  }

  .info_chronology {
    width: 35vw;
    height: 10rem;
    background-image: url("assets/img/Materiales_Bimbo-web/fondo-informacion-cronologia.png");
    /* background-repeat: no-repeat; */
    background-size: 100% 100%;
  }

  .info_chronology-p {
    padding: 3.5rem 7rem 1rem 3rem;
  }

  .section1_timeline {
    background-image: none;
    justify-content: flex-start !important;
    padding-bottom: 0 !important;
  }

  .start-container,
  .section1_wrapper-mobile {
    display: none !important;
  }

  .section1_wrapper-web {
    display: flex;
    height: 125vh;
  }

  .section2_description {
    width: 100%;
    background-image: url("assets/img/Materiales_Bimbo-web/fondo-equivalencias.png");
    background-size: cover;
    margin-top: -9rem;
    height: 85vh;
  }

  .section2_wrapper-mobile {
    display: none;
  }

  .section3_wrapper-mobile {
    display: none;
  }
  .section3_end {
    position: relative;
    z-index: 3;
    margin-top: -6rem;
    width: 100%;
    height: 158vh;
    background-image: url("assets/img/Materiales_Bimbo-web/acuerdo-de-provision-de-energia.png");
    background-size: cover;
    background-repeat: no-repeat;
  }

  .section4_web {
    position: relative;
    z-index: 3;
    display: block;
    width: 100%;
    height: 115vh;
    background-image: url("assets/img/Materiales_Bimbo-web/fondo-final,-iniciativas-ideal.png");
    background-repeat: no-repeat;
    margin-top: -7rem;
    background-size: contain;
  }
}
