@font-face {
  font-family: AmsiProCond-Ultra;
  src: url("assets/Fonts/AmsiProCond-Ultra.otf") format("opentype");
}

.battery-log1,
.battery-log2,
.battery-log3,
.battery-log4,
.battery-log5,
.battery-log6,
.battery-log7,
.battery-log8 {
  font-size: 1.2rem;
  font-family: AmsiProCond-Ultra;
  font-style: 1rem;
}

.bimbo_blue-left {
  max-width: 100%;
  height: 18rem;
  text-align: center;
  background-image: url("assets/img/Materiales_Bimbo-mobile/fondo-sin-texto-gorro-a-la-izquierda.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  color: white;
}

.bimbo_blue-right {
  max-width: 100%;
  height: 18rem;
  text-align: center;
  background-image: url("assets/img/Materiales_Bimbo-mobile/fondo-sin-texto-gorro-a-la-derecha.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  color: white;
}

.bimbo_blue-right1,
.bimbo_blue-left2,
.bimbo_blue-right3,
.bimbo_blue-left4,
.bimbo_blue-right5 {
  max-width: 100%;
  height: 12rem;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  color: white;
}

.bimbo_blue-right1 {
  background-image: url("assets/img/Materiales_Bimbo-mobile/Fondos_cronologia/fondo_cronologia1.png");
}

.bimbo_blue-left2 {
  background-image: url("assets/img/Materiales_Bimbo-mobile/Fondos_cronologia/fondo_cronologia2.png");
}

.bimbo_blue-right3 {
  background-image: url("assets/img/Materiales_Bimbo-mobile/Fondos_cronologia/fondo_cronologia3.png");
}

.bimbo_blue-left4 {
  background-image: url("assets/img/Materiales_Bimbo-mobile/Fondos_cronologia/fondo_cronologia4.png");
}

.bimbo_blue-right5 {
  background-image: url("assets/img/Materiales_Bimbo-mobile/Fondos_cronologia/fondo_cronologia5.png");
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
}

.col1_blue {
  max-width: 90%;
  height: 30%;
}

.col2_blue {
  max-width: 90%;
  min-width: 80%;
  height: 50%;
}

.container_end-bimbo {
  padding-left: 0;
  padding-right: 0;
}

.cronology_container {
  background-image: url("assets/img/Materiales_Bimbo-mobile/Franja-Blanca-linea-de-tiempo.png");
  background-repeat: no-repeat;
  background-position: center;
}

.eco__wash_leaf-title-wrapper {
  transform: scale(0.7);
}

.eco__wash_title-wrapper {
  transform: scale(1.8);
}

.eco__wash_img-wrapper, .eco__wash_leaf-title-wrapper, .eco__wash_title-wrapper {
  display: flex;
  justify-content: center;
}

.eco__wash_img-wrapper {
  transform: scale(0.8);
}
.eco__wash_wrapper, .equivalencies__families_wrapper {
  display: flex!important;
  flex-direction: column!important;
}

.ecowash_text {
  font-size: 17px;
}

.ecowash_text {
  font-size: 1rem;
}

.end_message-img {
  width: 100%;
}

.figures {
  background: rgba(255, 255, 255, 0.6);
  width: 80%;
  border-radius: 15px;
  color: #0033a0
}

.figures__icon_wrapper {
  padding-left: 3rem;
  padding-right: 1rem;
}

.img_bimbo-start {
  width: 80%;
}

.img_equivalence {
  width: 100%;
}

.img_world {
  width: 100%;
}

header {
  position: relative;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-image: url("assets/img/Materiales_Bimbo-mobile/inicio-con-titulo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.italic_subtitle {
  font-style: italic;
}

.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.section1_timeline {
  width: 100vw;
  z-index: 3;
  margin-top: -5rem;
  background-image: url("assets/img/Materiales_Bimbo-mobile/fondo-pan.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 0 !important;
  /* background-attachment: fixed; */
}

.section1_wrapper-web {
  display: none;
}

.section2_description {
  position: relative;
  z-index: 3;
  width: 100vw;
  height: 120%;
  background-image: url("assets/img/Materiales_Bimbo-mobile/fondo-azul-inicio.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 3rem 1rem 6rem 2rem;
  margin-top: -5rem;
}

.section2__responsability_mobile {
  display: block;
  height: 45rem;
  padding: 2rem;
}

.section2__responsability_img-wrapper {
  display: flex;
  justify-content: center;
}

.section2__responsability_info-wrapper {
  padding: 2rem 0;
}

.section2_responsability-img {
  width: -webkit-fill-available;
}

.section2_responsability_img-wrapper {
  padding: 1rem 0;
}

.section2__responsability-text {
  color: #0033a0;
}

.section2__title_img {
  width: inherit;
}

/* .section5_mobile {
  width: 100vw;
  height: 90vh;
  background-image: url("assets/img/Materiales_Bimbo-mobile/imagen-final1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: block;
  margin-top: -5rem;
  margin-bottom: 0 !important;
} */

.section5_web {
  display: none;
}

.section5_agreement, .section3_equivalencies {
  display: none!important;
}

.start_icon {
  width: 100%;
}

.title_blue {
  font-size: 1.5rem;
  font-weight: 900;
  color: white;
  display: block;
}

.img-end-bimbo {
  width: 100%;
  height: 100%;
}

.title_chronology-img {
  width: 100%;
}

.title_equivalence {
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.title_text {
  font-family: AmsiProCond-Ultra;
  font-size: 1.4rem;
  color: #0033a0;
  text-align: center;
  margin-right: 0 !important;
}

@media only screen and (max-width: 450px)  {

  .equivalencies_families_img {
    width: -webkit-fill-available;;
  }

  .footer_mobile-img1 {
    width: -webkit-fill-available;
  }

  .footer__mobile_img1-wrapper {
    display: flex;
    justify-content: center;
  }

  .footer_mobile-img2 {
    display: block;
    width: -webkit-fill-available;
  }

  .section2__responsability-img {
    width: -webkit-fill-available;
  }

  .section6_img1, .section6_img2, .section6_img3 {
    transform: scale(0.4)!important;
  }

  .section6__frame  {
    transform: scale(0.8);
  }

  .section6_img1-mobile, .section6_img2-mobile {
    width: 100%;
  }

  .section6_img3-mobile {
    width: 50%;
  }

  .section6_img-wrapper {
    display: flex;
    justify-content: center;
    height: 35rem;
    margin-top: -4rem;
  }

  .section6__steps_wrapper-desktop {
    display: none;
  }

  .section6__title2_wrapper-desktop {
    display: none;
  }

  .section6__steps_wrapper-mobile {
    display: block;
  }

  .section6__steps_wrapper-mobile1 {
    display: flex;
    justify-content: space-evenly;
  }

  .section6__steps_wrapper-mobile2 {
    display: flex;
  }

  .section6__steps_wrapper-mobile2 div {
    display: flex;
    justify-content: center;
  }

  .section6__title2_wrapper-mobile {
    display: block;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }  

  .section6__title1_wrapper-title1 {
    padding-bottom: 2rem;
  }

}

@media only screen and (min-width: 451px) {
  .col1_section1-web {
    width: 50vw;
    background-image: url(assets/img/Materiales_Bimbo-web/fondo-linea-de-tiempo.png);
    background-repeat: no-repeat;
    padding: 0!important;
    margin-left: 12%;
    display: flex;
    flex-direction: column;
  }

  .img_cronologia_hoja {
    width: 70%;
    position: relative;
    top: -7%;
    left: -4%;
  }

  .img_info-cronologia {
    width: 105%;
    height: 9rem;
    background-image: url("assets/img/Materiales_Bimbo-web/fondo-informacion-cronologia.png");
    background-repeat: no-repeat;
    margin-right: 0 !important;
    background-size: 100% 100%;
    margin-left: -9rem;
  }

  .img-linea-tiempo {
    width: 23%;
    margin-left: 17%;
    margin-top: -4rem;
  }

  .info_cronologia-container {
    width: 50vw;
    margin-left: -19rem;
  }

  .row-linea-tiempo {
    padding: 0;
    background-color: blue;
  }

  header {
    width: 100vw;
    height: 135vh;
    background-image: url("assets/img/Materiales_Bimbo-web/INICIO-web-21-05.png");
    background-size: center center;
    background-size: cover;
  }

  .info_chronology {
    width: 35vw;
    height: 10rem;
    background-image: url("assets/img/Materiales_Bimbo-web/fondo-informacion-cronologia.png");
    background-size: 100% 100%;
  }

  .info_chronology-p {
    padding: 3.5rem 7rem 1rem 3rem;
  }

  .section1_timeline {
    margin-top: 2rem;
    background-image: none;
    justify-content: flex-start !important;
    padding-bottom: 0 !important;
  }

  .start-container,
  .section1_wrapper-mobile {
    display: none !important;
  }

  .section1_wrapper-web {
    display: block;
    height: 125vh;
    width: 100%;
    background-image: url(assets/img/Materiales_Bimbo-web/nueva-cronologia.png);
    background-position: center center;
    background-size: cover;
    margin-top: -6rem;
  }

  .section2_description {
    background-image: url("assets/img/Materiales_Bimbo-web/fondo-equivalencias.png");
    background-size: contain;
    height: 50rem;
    margin-top: -9rem;
    width: 100%;
  }

  .section2__responsability_mobile {
    display: none;
  }

  .section2_wrapper-mobile {
    display: none;
  }

  .section3_equivalencies {
    background-image: url("assets/img/Materiales_Bimbo-web/equivalencies.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: block!important;
    height: 50rem;
    width: 100%;
  }

  .section4_responsability {
    background-image: url("assets/img/Materiales_Bimbo-web/responsability.png");
    background-repeat: no-repeat;
    background-size: contain;
    display: block!important;
    height: 50rem;
    margin-top: -60px;
    width: 100%;
  }

  .footer_mobile {
    display: none;
  }

  .section5_agreement {
    background-image: url("assets/img/Materiales_Bimbo-web/acuerdo-de-provision-de-energia.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: block!important;
    height: 158vh;
    margin-top: -2rem;
    position: relative;
    width: 100%;
    z-index: 3;
  }

  .section6_info {
    justify-content: space-between; 
  }

  .section6__frame {
    width: 100%;
  }

  .section6__frame_wrapper {
    display: flex;
    justify-content: space-between;
    width: 80%;
  }

  .section6_img1, .section6_img2, .section6_img3 {
    width: 100%;
  }

  .section6_img2_wrapper {
    position: relative;
    top: -35%;
  }

  .section6_img1_wrapper, .section6_img3_wrapper {
    align-self: self-end;
  }

  .section6_img1_wrapper, .section6_img3_wrapper {
    display: flex;
    justify-content: center;
  }

  .section6_info {
    align-items: center;
    display: flex!important;
    flex-direction: column;
    height: 90rem;
    padding-top: 2rem
  }

  .section6__steps_wrapper-desktop {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    height: 30%;
    margin-top: 4rem;
    width: 50%;
  }

  .section6__steps_wrapper-mobile {
    display: none;
  }

  .section6__title1_wrapper-title1 {
    transform: scale(3.0);
  }

  .section6__title1_wrapper {
    margin-bottom: 10rem;
    margin-top: 6rem;
    padding: 4rem;
  }

  .section6__title2_wrapper-desktop {
    display: block;
    margin-top: 10rem;
  }

  .section6__title2_wrapper-mobile {
    display: none;
  }  

  .section6_title {
    color: #0033a0;
    font-family: AmsiProCond-Ultra;
    text-align: center;
  }

  .section6__title1_wrapper {
    width: 45%;
  }

  .section6__title2_wrapper {
    color: #39A934;
    display: flex;
    font-family: AmsiProCond-Ultra;
    justify-content: center;
    padding: 3rem; 
    text-align: center;
    width: 45%;
  }

  .section5_web {
    background-image: url("assets/img/Materiales_Bimbo-web/fondo-final-iniciativas-ideal.png");
    background-repeat: no-repeat;
    /* margin-top: -7rem; */
    background-position: center center;
    background-size: cover;
    display: block;
    height: 110vh;
    padding-top: 3rem;
    position: relative;
    z-index: 3;
  }
}

 
