@font-face {
  font-family: AmsiProCond-Ultra;
  src: url("assets/Fonts/AmsiProCond-Ultra.otf") format("opentype");
}

.battery-log1,
.battery-log2,
.battery-log3,
.battery-log4,
.battery-log5,
.battery-log6,
.battery-log7,
.battery-log8 {
  font-size: 16px;
  font-weight: 900;
}

.bimbo_blue-left {
  max-width: 100%;
  height: 18rem;
  text-align: center;
  background-image: url("assets/img/Materiales_Bimbo-mobile/fondo-sin-texto-gorro-a-la-izquierda.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  color: white;
}

.bimbo_blue-right {
  max-width: 100%;
  height: 18rem;
  text-align: center;
  background-image: url("assets/img/Materiales_Bimbo-mobile/fondo-sin-texto-gorro-a-la-derecha.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  color: white;
}

.bimbo_blue-right1,
.bimbo_blue-left2,
.bimbo_blue-right3,
.bimbo_blue-left4,
.bimbo_blue-right5 {
  max-width: 100%;
  height: 12rem;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  color: white;
}

.bimbo_blue-right1 {
  background-image: url("assets/img/Materiales_Bimbo-mobile/Fondos_cronologia/fondo_cronologia1.png");
}

.bimbo_blue-left2 {
  background-image: url("assets/img/Materiales_Bimbo-mobile/Fondos_cronologia/fondo_cronologia2.png");
}

.bimbo_blue-right3 {
  background-image: url("assets/img/Materiales_Bimbo-mobile/Fondos_cronologia/fondo_cronologia3.png");
}

.bimbo_blue-left4 {
  background-image: url("assets/img/Materiales_Bimbo-mobile/Fondos_cronologia/fondo_cronologia4.png");
}

.bimbo_blue-right5 {
  background-image: url("assets/img/Materiales_Bimbo-mobile/Fondos_cronologia/fondo_cronologia5.png");
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
}

.col1_blue {
  max-width: 90%;
  height: 30%;
}

.col2_blue {
  max-width: 90%;
  min-width: 80%;
  height: 50%;
}

.cronology_container {
  background-image: url("assets/img/Materiales_Bimbo-mobile/Franja-Blanca-linea-de-tiempo.png");
  background-repeat: no-repeat;
  background-position: center;
}

/* .end_message { */
/* max-width: 95%;
  height: 32vh;
  background-image: url("assets/img/Materiales_Bimbo-mobile/fondo-verde-sin-texto.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-size: 1.2rem;
  font-weight: 900;
  color: white;
  margin-bottom: -4rem;
  text-align: center; */
/* } */

.end_message-img {
  width: 100%;
}

.figures {
  background: rgba(255, 255, 255, 0.6);
  width: 80%;
  /* height: 25%; */
  border-radius: 15px;
  color: #0033a0;
}

.img_bimbo-start {
  width: 80%;
}

.img_equivalence {
  width: 100%;
}

.img_world {
  width: 100%;
}

header {
  width: 100vw;
  height: 100vh;
  background-image: url("assets/img/Materiales_Bimbo-mobile/fondo-inicial-sin-texto.png");
  /* background-image: url("assets/img/Materiales_Bimbo-mobile/imagen-inicio-20-05.png"); */
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-top: 8rem !important;
  /* filter: drop-shadow(3px); */
  /* filter: blur(10px); */
  /* -moz-box-shadow: inset 0px 0px 3px 1px rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: inset 0px 0px 3px 1px rgba(255, 255, 255, 0.6);
  box-shadow: inset 0px 0px 3px 1px rgba(255, 255, 255, 0.6); */
}

.italic_subtitle {
  font-style: italic;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.section1_timeline {
  width: 100vw;
  background-image: url("assets/img/Materiales_Bimbo-mobile/fondo-pan.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-bottom: 6rem !important;
  background-attachment: fixed;
  /* margin-top: -5rem; */
  /* -webkit-box-shadow: 0px 7px 19px 5px #b94e4e; */
  /* box-shadow: 0px 7px 19px 5px #eb3737; */
}

.section2_description {
  position: relative;
  z-index: 3;
  width: 100vw;
  height: 120%;
  background-image: url("assets/img/Materiales_Bimbo-mobile/fondo-azul-inicio.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 2rem 1rem 5rem 2rem;
  margin-top: -4rem;
}

.section3_end {
  width: 100vw;
  height: 100%;
  margin-top: 4rem;
  z-index: 2;
}

.start_icon {
  width: 100%;
}

.img-end-bimbo {
  width: 100%;
  transform: scale(1.05);
}

/* .row1_blue {
  text-align: right;
} */

/* .title_chronology {
  max-width: 70%;
  height: 10vh;
  background-image: url("assets/img/Materiales_Bimbo-mobile/fondo-verde-sin-texto.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-size: 1.2rem;
  font-weight: 900;
  color: white;
  margin-bottom: -4rem;
  text-align: center;
} */

.title_chronology-img {
  width: 100%;
}

.title_blue {
  font-size: 1.5rem;
  font-weight: 900;
  color: white;
  display: block;
}

.title_equivalence {
  /* max-width: 95%;
  height: 32vh;
  background-image: url("assets/img/Materiales_Bimbo-mobile/fondo-azul-sin-texto.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-size: 1.2rem;
  font-weight: 900;
  color: white;
  margin-bottom: -4rem;
  text-align: center; */
  padding-right: 0 !important;
  padding-left: 0 !important;
}

.title_text {
  font-family: AmsiProCond-Ultra;
  font-size: 1.4rem;
  /* font-weight: 900; */
  color: #0033a0;
  text-align: center;
  margin-right: 0 !important;
}
