.battery-log1,
.battery-log2,
.battery-log3,
.battery-log4,
.battery-log5,
.battery-log6,
.battery-log7,
.battery-log8 {
  font-size: 16px;
  font-weight: 900;
}

.bimbo_blue-left {
  max-width: 80%;
  height: 30vh;
  text-align: center;
  background-image: url("assets/img/Materiales_Bimbo-mobile/fondo-sin-texto-gorro-a-la-izquierda.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  color: white;
}
.bimbo_blue-right {
  max-width: 80%;
  height: 30vh;
  text-align: center;
  background-image: url("assets/img/Materiales_Bimbo-mobile/fondo-sin-texto-gorro-a-la-derecha.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  color: white;
}

body {
  font-family: "Roboto", sans-serif;
  text-align: justify;
  font-size: 0.8rem;
}

.cronology_container {
  background-image: url("assets/img/Materiales_Bimbo-mobile/Franja-Blanca-linea-de-tiempo.png");
  background-repeat: no-repeat;
  background-position: center;
}

.end_message {
  max-width: 95%;
  /* margin-bottom: 18rem; */
  height: 32vh;
  background-image: url("assets/img/Materiales_Bimbo-mobile/fondo-verde-sin-texto.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-size: 1.2rem;
  font-weight: 900;
  color: white;
  margin-bottom: -4rem;
  text-align: center;
}

.figures {
  background: rgba(255, 255, 255, 0.6);
  width: 80%;
  border-radius: 15px;
  color: #0033a0;
}

header {
  width: 100vw;
  height: 100vh;
  background-image: url("assets/img/Materiales_Bimbo-mobile/fondo-inicial-sin-texto.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-bottom: -55px;
}

.italic_subtitle {
  font-style: italic;
}

.section1_description {
  position: relative;
  font-size: 10px;
  z-index: 3;
  width: 100vw;
  height: 150vh;
  background-image: url("assets/img/Materiales_Bimbo-mobile/fondo-azul-inicio.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.section2_timeline {
  position: absolute;
  z-index: 2;
  width: 100vw;
  height: 390vh;
  background-image: url("assets/img/Materiales_Bimbo-mobile/fondo-pan.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  margin-top: -3.5rem !important;
  font-size: 10px;
  padding-bottom: 20rem !important;
}

.section3_end {
  width: 100vw;
  height: 55vh;
  position: relative;
  top: 138rem !important;
  z-index: 2;
  background-image: url("assets/img/Materiales_Bimbo-mobile/final-BIMBO-osito.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.title_chronology {
  max-width: 70%;
  height: 10vh;
  background-image: url("assets/img/Materiales_Bimbo-mobile/fondo-verde-sin-texto.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-size: 1.2rem;
  font-weight: 900;
  color: white;
  margin-bottom: -4rem;
  text-align: center;
}

.title_blue {
  font-size: 1.5rem;
  font-weight: 900;
  color: white;
  display: block;
}

.title_equivalence {
  max-width: 95%;
  /* margin-bottom: 18rem; */
  height: 38vh;
  background-image: url("assets/img/Materiales_Bimbo-mobile/fondo-azul-sin-texto.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  font-size: 1.2rem;
  font-weight: 900;
  color: white;
  margin-bottom: -4rem;
  text-align: center;
}

.title_text {
  font-size: 1.2rem;
  font-weight: 900;
  color: #0033a0;
  text-align: center;
  margin-right: 0 !important;
}
